<!-- Global Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="icon" type="image/jpg" href="img/iebjcp_ico.jpg">
<meta name="theme-color" content="#3850a0">
<link rel="manifest" href="manifest.json">
<link rel="canonical" href=<sergey-slot name="url">"http://www.bautistajosecpaz.com/"</sergey-slot>>
<!-- Primary Meta Tags -->
<title>
  <sergey-slot name="title">IEBJCP ⛪</sergey-slot>
</title>
<meta name="title" content=<sergey-slot name="metatitle">"IEBJCP ⛪"</sergey-slot>>
<meta name="description" content=<sergey-slot name="description">"Hola, somos la iglesia Evangélica José C. Paz...
Bienvenido, que Dios te bendiga siempre."</sergey-slot>>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content=<sergey-slot name="url">"http://www.bautistajosecpaz.com/"</sergey-slot>>
<meta property="og:title" content=<sergey-slot name="metatitle">"IEBJCP ⛪"</sergey-slot>>
<meta property="og:description" content=<sergey-slot name="description">"Hola, somos la iglesia Evangélica José C.
Paz...Bienvenido, que Dios te bendiga siempre."</sergey-slot>>
<meta property="og:image" content=<sergey-slot name="image">
"http://www.bautistajosecpaz.com/img/iebjcp_ico.jpg"</sergey-slot>>
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content=<sergey-slot name="url">"http://www.bautistajosecpaz.com/"</sergey-slot>>
<meta property="twitter:title" content=<sergey-slot name="metatitle">"IEBJCP ⛪"</sergey-slot>>
<meta property="twitter:description" content=<sergey-slot name="description">"Hola, somos la iglesia Evangélica José C.
Paz...Bienvenido, que Dios te bendiga siempre."</sergey-slot>>
<meta property="twitter:image" content=<sergey-slot name="image">"http://www.bautistajosecpaz.com/"</sergey-slot>>